name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    
    - name: Login to Docker hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Set up Docker Buindx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and Push Api
      id: docker_build_api
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./apps/api/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_REPO }}:vApi.${{ github.sha }}

    - name: Image digest api
      run: echo ${{ steps.docker_build_api.outputs.digest }}

    - name: Helm deploy api
      uses: WyriHaximus/github-action-helm3@v2.0
      with:
        exec: helm upgrade --install -n lab --set containerName=${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_REPO }}:vApi.${{ github.sha }} -f ./apps/api/values.yaml api ./
        kubeconfig: '${{ secrets.KUBE_CONFIG }}'

    - name: Build and Push Handler
      id: docker_build_handler
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./apps/handler/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_REPO }}:vHandler.${{ github.sha }}

    - name: Image digest handler
      run: echo ${{ steps.docker_build_handler.outputs.digest }}
      
    - name: Helm deploy handler
      uses: WyriHaximus/github-action-helm3@v2.0
      with:
        exec: helm upgrade --install -n lab --set containerName=${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_REPO }}:vHandler.${{ github.sha }} -f ./apps/handler/values.yaml handler ./
        kubeconfig: '${{ secrets.KUBE_CONFIG }}'